[Unit]
Description=lama_object_remove.service - A Flask application for object remove using lama model.
After=network.target

[Service]
Environment="PATH=/home/lama_bitmorpher/.venv/bin"
WorkingDirectory=/home/lama_bitmorpher/
#ExecStartPre=/bin/bash -c 'mkdir -p /run/lama; chown www-data:www-data /run/lama'
#ExecStart=/home/lama_bitmorpher/.venv/bin/gunicorn --workers 3 --bind unix:/run/lama/object_remove.sock wsgi:app
ExecStart=/home/lama_bitmorpher/.venv/bin/python /home/lama_bitmorpher/main.py --model=lama --device=cuda --host=0.0.0.0 --port=8030
StandardOutput=append:/var/log/lama/access.log
StandardError=append:/var/log/lama/error.log

[Install]
WantedBy=multi-user.target